<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 id="ScoreResult"></h1>
    <a id="home" class="redirect" href="http://localhost:8080/home">Home</a>

</body>

<!-- get script after loading body elements in html page -->
<script src="score.js"></script>

<style>
    body{
        background-color: teal;
        font-family: Verdana;
		text-align: center;
    }
    #home{
        text-decoration: none;
        color: black;
        font-size: 25px;

    }
    #home:hover{
        color: antiquewhite;
    }
</style>
</html>